
.card {
    padding-left: auto;
    padding-right: auto;
    margin-top: 12px;
    margin-bottom: 50px;
    min-height: 100px;
    box-shadow: 2px 0 1px 0px whitesmoke;  
    -webkit-transition: .35s box-shadow;
    transition: .35s box-shadow;
}

.card:focus, .card:hover {
    box-shadow: 10px 15px 100px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card-content {
    padding: 20px;
    font-size: 15px;
}

.card-img {
    margin-top: 10px;
}

.card-title {
    margin-top:0px;
    font-weight: 600;
}
