.card {
    padding-left: auto;
    padding-right: auto;
    margin-top: 12px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    min-height: 100px;
    border-radius: 50px;
    background: rgb(228, 197, 197);
    box-shadow: 2px 0 1px 0px rgb(119, 106, 106);  
    -webkit-transition: 5.35s box-shadow;
    transition: 5.35s box-shadow;
}

.card:focus, .card:hover {
    box-shadow: 10px 15px 100px 0 rgba(101, 243, 12, 0.18), 0 4px 15px 0 rgba(115, 238, 27, 0.15);
}

.card-content {
    padding: 20px;
    font-size: 15px;
}

.card-img {
    margin-top: 10px;
}

.card-title {
    margin-top:0px;
    font-weight: 600;
}
