
input {
  background: none;
  border: none;
}
input:focus {
  outline: none;
}

.search-bar {
  width: 360px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}



button {
  width: 36px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #F9E6C7;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  border: 2px solid transparent;
  box-sizing: border-box;
  padding: 0 0 0 0.5rem;
  text-decoration: none;
}

.field {
  height: 40px;
  width: 260px;
  background: #F9E6C7;
  box-sizing: border-box;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  border: 2px solid transparent;
  transition: border-color 200ms;
}
.field:focus-within{
  border-color: #A89A85;
}
.field:focus-within label, .field.is-dirty label {
  opacity: 0;
}

.field label {
  position: absolute;
  color: rgba(19, 18, 18, 0.7);
  transition: opacity 200ms;
  pointer-events: none;
}

.input {
  position: relative;
  flex: 1;
}
.input input {
  color: rgb(8, 8, 8);
  width: 100%;
  margin-right: 0.25rem;
}

.text-fade-out {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  bottom: 0;
  background-image: linear-gradient(to right, transparent, #a4317c);
  pointer-events: none;
}

